# Video extensions
*.avi
*.mov
*.mp4
*.mkv
*.flv
*.wmv
*.webm
*.mpeg
*.mpg
*.3gp
*.m4v
*.vob
*.ogv
*.ts
*.rmvb
*.f4v
*.swf
*.m2ts

*.gif
*.python-version
*.pyc

__pycache__/
dist/
.vscode/

build/
*.egg-info/
*.egg
*.log
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
*.idea/
*.iml
*.ipynb_checkpoints/
*.env
*.venv
.env/
venv/
*.pyo
*.pyd
*.coverage
.coverage.*
.cache/
*.spec